.footer_box {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer_box a {
    color: #ffffff;
    padding: 10px 20px;
  }
  .cr {
    margin-top: 24px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }


@media screen and (min-width: 600px) {
    .footer_box {
      flex-direction: row;
    }
    .footer_box a {
      padding: 0 20px;
    }
  }