input, select {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
}

input, select {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

select {
    height: 42px;
}

/* Adjusts placeholder text to be same color as Semantic UI's search field for school */
::placeholder {
    color: #C7C7C7;
}
/* Matches color of ::placeholder */
select:invalid {
    color: #C7C7C7;
}

.display_errors input:invalid {
    border: 2px dashed red;
}

.display_errors input:valid {
    border: 2px solid black;
}

.hidden {
    opacity: 0;
}

.form_group {
    display: flex;
    justify-content: space-between;
}

.form_field {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.form_field.name {
    width: 50%;
}
.form_field.first_name {
    padding-right: 5px;
}
.form_field.last_name {
    padding-left: 5px;
}
.address_city {
    width: 40%;
}
.address_state {
    width: 40%;
}
.address_zip {
    width: 20%;
}
.address_city, .address_state {
    padding-right: 10px;
}

.form_field label {
    padding: 10px 0;
}

.radioButton label {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 0;
}

.radioButton label input {
    width: 30px;
}

.ui.icon.input {
    width: 100%;
}
    
.ui.icon.input input.prompt {
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .form_group {
        flex-direction: column;
    }
    .form_field label.last_name_label {
        height: 0;
        padding: 0;
    }
    .address_city, .address_state, .address_zip {
        width: 100%;
        padding-right: 0;
    }
    .form_field.name {
        width: 100%;
    }
    .form_field.first_name {
        padding-right: 0;
    }
    .form_field.last_name {
        padding-left: 0;
    }
}