.headline {
  display: flex;
  height: 125px;
  justify-content: space-between;
  align-items: center;
}
.headline .link_white_text {
  display: flex;
  align-items: center;
}
.headline .link_white_text img {
  max-height: 100px;
  padding-left: 20px;
}
.headline .link_white_text h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 0;
  padding-left: 20px;
  text-align: center;
}
.headline .social_box {
  display: flex;
  padding-right: 50px;
}
.link_white_text {
  color: #FFFFFF;
}
.social {
  margin: 10px;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
}

/* Breakpoint for medium-size desktop/laptop screens */
@media only screen and (max-width: 1400px) {
    .headline {
        height: 75px;
        padding-top: 0;
    }
    .headline .link_white_text img {
      max-height: 50px;
      padding-left: 20px;
    }
    .headline .link_white_text h1 {
        font-size: 3rem;
        font-weight: bold;
        padding-left: 20px;
    }
    .social {
        margin: 10px;
        color: #FFFFFF;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .headline .social_box {
        display: flex;
        padding-right: 50px;
    }
}

/* Breakpoint for mobile */
@media screen and (max-width: 600px) {
  .headline {
    margin: 0;
    padding: 0;
    height: auto;
  }
  .headline .link_white_text img {
    max-height: 40px;
    padding-left: 20px;
  }
  .headline .link_white_text h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%;
  }
  .headline .social_box {
    display: none;
  }
}