/* CSS animations */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.main_container {
    background-color: white;
    color: black;
}

.content_container {
    padding: 30px 10%;
}

.header_box {
    text-align: center;
}
.header_box h1 {
    color: white;
    line-height: 1;
    padding: 40px 0;
}

.select_state_box {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.select_state_box p {
    text-align: center;
}

.select_method_box {
    text-align: center;
    display: flex;
    justify-content: center;
}
.select_method_box button {
    border: 1px solid #3983DA;
    color: lightgray;
    padding: 10px 0;
    width: 50%;
}

.select_method_box .select_method_active {
    background-color: #3983DA;
    color: white;
}

.step_container {
    display: none;
}
.step_container.active {
    display: block;
    padding: 10px 0;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.step_header {
    color: white;
    display: flex;
    padding: 10px 0;
}
.step_header_name h2 {
    padding: 20px;
}
.step_header_deadline h3 {
    padding: 20px;
}
.deadline_explanation_link {
    text-decoration: underline;
}
.step_body_part {
    display: flex;
    align-items: center;
    margin: 10px 0;
    min-height: 6rem;
}
.step_body_part_description p {
    padding: 0 20px;
}
.step_body_part_reminder {
    background-color: #FDEEEE;
}
.step_body_part_link {
    background-color: #E9EEF5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step_body_part a {
    color: white;
    height: 75%;
    width: 75%;
    padding: 10px;
}

.step_header_left, .step_body_part_left {
    text-align: left;
    width: 70%;
}
.step_header_right, .step_body_part_right {
    text-align: center;
    width: 30%;
}

@media screen and (max-width: 850px) {
    .select_method_box button {
        padding-left: 5px;
        padding-right: 5px;
    }
    .step_header {
        flex-direction: column;
    }
    .step_header_name {
        padding: 0;
        width: auto;
        text-align: center;
    }
    .step_header_deadline {
        padding: 0;
        width: auto;
    }
    .step_header_name h2 {
        padding: 5px;
    }
    .step_header_deadline h3 {
        padding: 5px;
    }
    .step_body_part {
        flex-direction: column;
        height: auto;
    }
    .step_body_part_description {
        padding: 10px 0;
        width: auto;
    }
    .step_body_part_left, .step_body_part_right {
        width: auto;
    }
    .step_body_part a {
        height: auto;
        width: auto;
        margin-bottom: 10px;
        padding: 10px;
    }
}