.vr_red_background {
    background-color: #FB3B3E;
}
.vr_blue_background {
    background-color: #3983DA;
}
.vr_white_background {
    background-color: #FFFFFF;
}
.vr_black_background {
    background-color: #0D1730;
}
.vr_grey_background {
    background-color: #8999AF;
}
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family:"Lovelo-Black";
    src:url("Lovelo-Black/Lovelo_Black.eot?") format("eot"),
    url("Lovelo-Black/Lovelo_Black.woff") format("woff"),
    url("Lovelo-Black/Lovelo_Black.ttf") format("truetype"),
    url("Lovelo-Black/Lovelo_Black.svg#Lovelo-Black") format("svg");
    font-weight:normal;
    font-style:normal;
}

.vr_section_head {
    font-family: Lovelo-Black;
    font-size: 36px;
}

.vr_section_subhead {
    font-family: Lovelo-Black;
    font-size: 18px;
}

.vr_form_head {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
.vr_form_body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.vr_form_copy {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.vr_body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.vr_uppercase {
    text-transform: uppercase;
}

.ballot_img  {
    width: 72px;
    height: 100px;
    background-image: url("images/noun-ballot-811111.svg");
}

.vote_img  {
    width: 100px;
    height: 100px;
    background-image: url("images/noun-vote-811112.svg");
}

.group_img  {
    width: 100px;
    height: 100px;
    background-image: url("images/group-10.svg");
}