.content-container {
    text-align: center;
}

.states-container {
    display: flex;
    justify-content: space-around;
}

.state-container {
    width: 40%;
}

#college-state {

}

#home-state {

}

.state {

}