.App {
  max-width: 710px;
  margin: 0 auto;
}

div#AppForm {
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 250px;
  padding: 0px;
  color: black;
  overflow: hidden;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.App-header img {
  margin-top: -80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
