html {
  width: 100%;
}

body {
  margin: 0;
}
button {  /* button style reset code, inspired by https://gist.github.com/MoOx/9137295 */
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.transparent {
  opacity: 0;
}
.no_display {
  display: none;
}
.uppercase {
  text-transform: uppercase;
}
.vr_body {
  background-color: #0D1730;
  color: #FFF;
  line-height: 1;
}
.root {
  margin: 0 auto;
  width: 100%;
}
.headline {
  align-items: center;
  display: flex;
  height: 125px;
  padding-top: 10px;
  justify-content: space-between;
}
.headline h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
.headline .social_box {
  display: none;
}
.social {
  margin: 10px;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
}

.form_page {
  background-color:#FFFFFF;
  color: black;
  padding: 20px;
}
.form_container {
  margin: 0 auto;
  max-width: 520px;
}

.form_header_progress_bar {
  margin: 10px auto;
  text-align: center;
}
.form_header_progress_bar img {
  max-width: 100%;
  max-height: 100%;
}

.form_header_box {
  background-color: #3983DA;
  color: white;
  font-family: 'Lovelo';
  margin: 10px auto;
  max-width: 708px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.form_header_box h1 {
  font-size: 48px;
  margin: 0;
}
.form_header_box h2 {
  font-size: 18px;
  margin: 0;
}

.form_label {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
.form_label_explanation_link {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
.form_nav_button {
  background-color: black;
  color: white;
  margin: 10px;
}





.form_header_headline_box {
  color: white;
  margin: 0 auto;
  max-width: 708px;
  padding: 10px;
  text-align: center;
}

.form_header_headline_box h1 {
  font-size: 48px;
  margin: 0;
}

.form_header_headline_box h2 {
  font-size: 18px;
  margin: 0;
}

.form_header_description_box {
  background-color: #f1f1f1;
  color: black;
  margin: 10px auto;
  max-width: 708px;
  padding: 20px;
}

.form_header_description_box p {

}



.button_container {
  display: flex;
  justify-content: center;
}

button {
  border: 1px solid #FB3B3E;
  color: #FB3B3E;
  font-size: 24px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.form_header_description_two_wide_container {
  display: flex;
  justify-content: center;
}

.form_header_description_two_wide_container div {
  margin: 5px;
}

.footer_box {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.footer_box a {
  color: #ffffff;
  padding: 10px 20px;
}
.cr {
  margin-top: 24px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .headline h1 {
    padding-left: 50px;
  }
  .headline .social_box {
    display: flex;
    padding-right: 50px;
  }
  .footer_box {
    flex-direction: row;
  }
  .footer_box a {
    padding: 0 20px;
  }
}